<form method="post" action="/create">
  <div class="form-row py-3 border-top">
    <input type="submit" value="Start New Game" class="btn btn-primary form-control col-md-2 offset-md-5" />
  </div>
</form>
